version: '3.8'

services:
  hrms:
    image: sspatra25/hrms:latest
    container_name: hrms
    ports:
      - "80:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - hrms-network
    restart: unless-stopped

networks:
  hrms-network:
    driver: bridge
